@import "../../../index.scss";

.custom-modal-backdrop {
  opacity: 0.8 !important;
}

.modal {
  .modal-dialog {
    .modal-content.light {
      background: #ffffff !important;
      color: rgb(0, 0, 0) !important;
      .modal-header {
        border-bottom: 2px solid #e1e1e1;

        .btn-close {
          color: rgb(0, 0, 0) !important;
          display: none !important;
        }
        button {
          border: none !important;
          outline: none !important;
          background: transparent !important;
        }
      }
      .modal-body {
        background: #ffffff !important;
      }
      .modal-footer {
        border-top: 2px solid #e1e1e1;

        .footer__left {
          .file__name {
            color: #77b7d7 !important;
            span {
              color: #86d9ca !important;
            }
          }
        }
      }
    }

    .modal-content.dark {
      background: #24272e !important;
      color: #fff !important;
    }
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      font-family: $font-source-code-pro;
      .modal-header {
        border-bottom: 2px solid #2f333d;
        .modal-title {
          font-weight: 600 !important;
          font-size: 25px !important;
        }
        .btn-close {
          color: #fff !important;
          display: none !important;
        }
        button {
          border: none !important;
          outline: none !important;
          background: transparent !important;
        }
      }
      .modal-body {
        background: #24272e !important;
        max-height: 40rem;
        max-height: 32rem !important;
        overflow: scroll;
      }
      .modal-footer {
        border-top: 2px solid #2f333d;
        padding: 0.5rem !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        .footer__left {
          p {
            margin: 0 !important;
          }
          .file__name {
            color: #77b7d7 !important;
            font-weight: 600;
            span {
              color: #86d9ca !important;
            }
          }
        }
        .footer__right {
          display: flex;
          align-items: center;
          gap: 1rem !important;
          .btn {
            padding: 0.5rem 1rem !important;
            margin: 0 !important;

            lord-icon {
              width: 28px !important;
              height: 28px !important;
              margin: 0 !important;
              margin-right: 0.5rem !important;
            }
          }
        }
      }
    }
  }
}
