@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap");

// ================== GLOABL VARIABLES & SETTINGS ==================

/* ===== Light Mode ===== */
/* Font Family's */
$font-inter: "Inter", sans-serif;
$font-source-code-pro: "Source Code Pro", monospace;

/* Backgrounds */
$bg-primary: #3c37ff;
$bg-secondary: #2520e3;

/* Outlines */
$ol-primary: #d9dae5;
$ol-secondary: #e4e4ef;
$ol-light: #f9f8fd;

/* Outlines Selected One's */
$ols-primary: #322fb2;
$ols-secondary: #7874fe;
$ols-light: #d3cfff;

// BORDERS
$border-primary: #d3d4dd;

/* Text */
$txt-primary: #fff;
$txt-secondary: #e6f0ff;
$txt-grey: #6d7987;

/* Button */
$btn-primary: #3a38fd;
$btn-secondary: #f4f7ff;

// asterisk
$asterisk-col: rgb(255, 56, 56);

/* ===== Dark Mode ===== */

$d-bg-primary: #0a0a0a;
$d-bg-secondary: #262931;

$d-btn-primary: #3c37ff;

$d-txt-primary: #fff;
$d-txt-secondary: #7f8394;

/* ===== Dark Mode Beta ===== */

*,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
body {
  padding: 0;
}

a {
  text-decoration: none !important;
}

.form-switch {
  padding: 0 !important;
  margin-left: 0.5rem !important;
  .form-check-input {
    width: 2.5rem;
    height: 1.4rem;
    margin: 0;
  }
}

* {
  box-sizing: border-box;
}

.asterisk {
  color: $asterisk-col;
  font-size: 14px;
  font-weight: 600;
}

ul {
  color: #77b7d7;
  font-size: 20px;
  width: fit-content;
  li {
    margin: 2rem 0;
    padding: 0.5rem;
    cursor: pointer;
    width: fit-content;
    span {
      color: #86d9ca;
      background: rgba(88, 175, 223, 0.1);
      padding: 0.3rem;
      border-radius: 0.3rem;
      font-weight: 600;
    }

    &:hover {
      border-bottom: 1.5px solid #77b7d7;
    }
  }
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: var($font-source-code-pro);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // border: 1px solid green;
  .app {
    width: 100%;
    height: 100vh;
    font-family: $font-source-code-pro;
    display: flex;
    background: #24272e;

    .app_content {
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      padding: 2rem 0;
      margin: 0 2.5rem;
      padding-top: 1rem;
      padding-bottom: 0rem;
      position: relative;

      header {
        padding-bottom: 0.5rem;
        margin-bottom: 2rem;
        border-bottom: 3px solid #2f333d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__left {
          h1 {
            color: #f6f7f9;
            font-weight: 700;
            display: flex;
            align-items: center;
            span {
              font-size: 16px;
              font-weight: 500;
              background: rgba(88, 175, 223, 0.1);
              padding: 0.5rem;
              color: #86d9ca;
              border-radius: 0.4rem;
              margin: 0 1rem;
            }
          }
        }

        .header__right {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .search__wrapper {
            margin: 1rem 0;
            padding: 0.5rem;
            background: #353a45;
            display: flex;
            align-items: center;
            border-radius: 0.4rem;
            margin: 0 0.5rem;
            .search__inp {
              min-width: 18rem;
              padding: 0.2rem;
              margin: 0 0.5rem;
              color: #9ba1b1;
              font-family: $font-source-code-pro;
              word-spacing: 0.01em;
              letter-spacing: 0.01em;
              font-size: 16px;
              border: none;
              outline: none;
              background: transparent;

              &:focus {
                border: none !important;
                background: none !important;
                color: #86d9ca;
              }
            }

            .search_icon {
              width: 1.5rem;
              height: 1.5rem;
              path {
                fill: #9ba1b1;
              }
            }
          }

          .reload__wrapper {
            padding: 0.5rem 0 !important;
            border-radius: 0.2rem !important;
            background: #353a45 !important;
            width: 3rem !important;
            height: 100%;
            margin: 0 0.5rem;
            display: grid;
            place-items: center;
            cursor: pointer;
            border: none !important;
          }

          .more__wrapper {
            background: #353a45 !important;
            min-width: 2rem !important;
            margin: 0 0.5rem;
            svg {
              width: 32px !important;
              height: 32px !important;
              path {
                stroke: #fff !important;
              }
            }
          }
        }
      }

      section {
        table {
          tr {
            &:hover {
              td {
                color: #86d9ca;
                font-weight: 700;
              }
            }
          }
        }
      }

      footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        padding: 0.2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 3px solid #2f333d;
        background: #24272e;
        z-index: 10;
        .footer_right {
          .btn {
            padding: 0.4rem 1rem !important;
            lord-icon {
              width: 28px !important;
              height: 28px !important;
              margin: 0 !important;
              margin-right: 0.5rem !important;
            }
          }
        }
      }
    }
  }
}

.dropdown {
  .dropdown-toggle {
    padding: 0.5rem 0 !important;
    box-shadow: none !important;
    border-radius: 0.2rem !important;
    border: none !important;
    svg {
      margin-left: 0 !important;
    }
    &::after {
      display: none !important;
    }
  }

  .dropdown-menu {
    .dropdown-item {
      background: #353a45 !important;

      &:hover {
        background: #494d5a !important;
      }
    }
    .dropdown-divider {
      border-top: 1px solid rgba(255, 255, 255, 0.18);
    }
  }
}
