@import "../../../index.scss";

.teacher_filter__form {
  form {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 2rem;
    .wrapper {
      width: 30rem !important;
      .section__wrapper {
        display: flex;
        flex-direction: column;

        .options {
          display: flex;
          gap: 1rem;
        }
      }

      .form-check {
        // width: 7rem !important;
        color: #fff;
      }
    }
  }
}

.teacher-assignments.dark {
  background: #1c1f25;
}

.teacher-assignments.light {
  background: $light-bg-secondary;
}

.teacher-assignments {
  padding: 2rem;
  height: 100%;
}
