@import "../../../index.scss";

.teacher_filter__form {
  form {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 2rem;
    .wrapper {
      width: 30rem !important;
      .section__wrapper {
        display: flex;
        flex-direction: column;

        .options {
          display: flex;
          gap: 1rem;
        }
      }

      .form-check {
        // width: 7rem !important;
        color: #fff;
      }
    }
  }
}

.teacher-assignments.dark {
  background: #1c1f25;
}

.teacher-assignments.light {
  background: $light-bg-secondary;
}

.teacher-assignments {
  padding: 2rem;
  height: 100%;
}


.teacher-assignments__filters.light{
  color: black;
}

.teacher-assignments__filters.dark{
  color: white;
}

.teacher-assignments__filters{
  padding: 10px 5px;
}

.teacher-assignments__filters button{
  display: inline;
  // width: 50px;
  padding: 2.5px 10px;
  margin-right: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.teacher-assignments__filters button.active{
  background-color: #9400FF;
  color: white;

}